@font-face {
  font-family: Tagees;
  src: url("../src/assets/fonts/Tagesschrift-Regular.ttf");
}
@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter-VariableFont.ttf");
}
@import "tailwindcss";

@theme {
  --button-disabled: oklch(0.9028 0.0158 242.29);
  --button: oklch(72.61% 0.150 162.55);
  --button-hover: oklch(77.61% 0.150 162.55);
  --label: oklch(72.61% 0.150 162.55);
  /* --button: oklch(0.8807 0.1244 219.13);
  --button-hover: oklch(0.9307 0.1244 219.13); */
  --background: oklch(0.97 0.015 75);
  --card: oklch(0.3704 0.1799 275.26);
  --accent: oklch(0.8807 0.1244 219.13);
  --text-main: oklch(0.23 0.01 257);
  --text-secondary: oklch(0.35 0.005 257);
  --text-muted:oklch(0.6 0.004 257);
  --font-inter: Inter, sans-serif;
  --font-tagees: Tagees, sans-serif;
  --some-color: oklch(0.73 0.12 245);
}
