@import "tailwindcss";

@theme {
    --primary: oklch(0.8455 0.1234 177.99);
    --background: oklch(0.3048 0.0422 264.92);
    --card: oklch(0.3704 0.1799 275.26);
    --accent: oklch(0.8807 0.1244 219.13);
    --text-main: oklch(0.9578 0.0065 228.19);
    --text-secondary: oklch(0.9028 0.0158 242.29);
    --text-font: Inter;
}